.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 14px;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);

  transition: width 0.4s;
}

.experienceBar span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  transition: left 0.4s;
}